<form>
    <div class="form-group">
        <label for="c-name">Coupon Name</label>
        <input type="text" class="form-control" name="c-name" id="c-name" placeholder="Coupon Name">
    </div>
    <div class="form-group">
        <label for="c-discount">Discount</label>
        <input type="text" class="form-control" name="c-discount" id="c-discount" placeholder="Discount">
    </div>
    <div class="form-group">
        <label for="c-validity">Validity</label>
        <input id="c-validity" name="c-validity" class="form-control" type="date" value=""/>
    </div>
    <div class="form-group">
        <label for="c-desc">Coupon Description</label>
        <input type="text" class="form-control" name="c-desc" id="c-desc" placeholder="Coupon Description">
    </div>
</form>