<html>
<head>
    <meta charset="utf-8">
    <title>Opiniothon | Opinio Hackathon 2016</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/lib/angular-ui-router.min.js"></script>
    <script src="/static/js/lib/angular-animate.min.js"></script>
    <script src="/static/js/lib/Chart.min.js"></script>
    <script src="/static/js/lib/moment.min.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.services.js"></script>
    <script src="/static/js/app.controllers.js"></script>

</head>
<body ng-app="opinioApp">
<div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="/">CRM Analytics</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="analytics">Analytics</a></li>
            <li><a ui-sref="data.profile">Add Coupons</a></li>
        </ul>
    </nav>
    <div ui-view></div>
</div>
</body>
</html>